.body{
  max-width: 100%;
}

*{
  margin-top: 20px;
  border-radius: 5px;
  padding: 3px;

  box-sizing: border-box;
  background-color: black;

  color: aliceblue;
  font-family: 'Lato', sans-serif;
  text-align: center;
}



.hallo{
  display: flex;
  max-width: 100%;
}

.halloPj{
  width: 500px;
}

@media (max-width: 800px) {
  .hallo {
    display: block;
    text-align: center;
  }
}

.nav {
  display: flex;
  
}

.nav .mail:nth-child(2),
.mail:nth-child(3){
  margin-left: 20px;
}

a:link, a:visited{
  border: 2px solid rgb(44, 44, 44);
  margin: 0;
  padding-bottom: 3px;

  text-decoration: none;

  box-shadow: inset 0 0 5px 2px rgb(0, 0, 0);
  
  height: 30px;
  width: 33.333%; 
}

a:hover, a:active{
  border: 2px solid rgb(0, 0, 0);
  margin: 0;
  padding: 10px;

  color: rgb(255,115,131); 
  text-decoration: none;

  box-shadow: inset 0 0 5px 2px rgb(0, 0, 0);
  
  height: 30px;
  width: 33.333%; 
}

.firstLeng{
  display: flex;
}
.htmlPj{
  width: 500px;
}

@media (max-width: 800px) {
  .firstLeng {
    display: block;
    text-align: center;
  }
}

.secondLeng{
  display: flex;
}

.cssPj{
  width: 500px;
}

@media (max-width: 800px) {
  .secondLeng {
    display: block;
    text-align: center;
  }
}




